# Build artifacts
build/work/
iso/*.iso
*.daft
*.ko
kernel/daft-defmon/*.o
kernel/daft-defmon/Module.symvers
kernel/daft-defmon/modules.order
*.tmp
build/ubuntu-archive-keyring.*
# Python build artifacts
__pycache__/
*.pyc
*.egg-info/
*.so
